<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="Popup-row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Documents</label>
                    </div>
                    <div class="col-md-9">
                        <div class="">
                            <table class='table table-striped table-bordered table-responsive'>
                                <thead>
                                    <tr>

                                        <th>File Name</th>
                                        <th>Type</th>
                                        <th>Author</th>
                                        <th>Remark</th>
                                        <th nowrap="nowrap" class="text-center">
                                            delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf='RFQDocEntityList'>
                                    <tr *ngFor="let RFQ of RFQDocEntityList">
                                        <td>{{RFQ.FileName}}</td>
                                        <td>{{RFQ.FileType}}</td>
                                        <td>{{RFQ.Author}}</td>
                                        <td>{{RFQ.RemarkDoc}}</td>
                                        <td style="text-align:center">

                                            <div style="text-align:center">
                                                <!--<button title="Delete" class="btn btn-vis" (click)="deleteCompanyMaster(CompanyMaster.Id, CompanyMaster.IsActive)"><span class="glyphicon glyphicon-trash"></span></button>-->
                                                <button title="Delete" class="btn btn-vis" (click)="deleteRFQDoc(RFQ.FileName)"><span class="glyphicon glyphicon-trash"></span></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf='RFQDocList && RFQDocList.length == 0'>
                                    <tr>
                                        <td colspan="5" align="center">No Record found</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form #Doc="ngForm" (ngSubmit)="onDocSubmit(Doc.value)">
                            <div class="form-group MarginRL0">
                                <div class="col-md-3">
                                    <input type="file" id="btnUpload1" value="Upload" (change)="fileChangeDoc($event)" />
                                </div>
                                <div class="col-md-4" style="padding-right : 5px;">
                                    <select class="form-control" [(ngModel)]="RFQDoc.FileType" #FileType="ngModel" name="FileType">
                                        <option *ngFor="let ft of FileTypeDDL" value="{{ft.FileType}}">{{ft.FileType}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" [(ngModel)]="RFQDoc.Author" #Id="ngModel" name="Author">
                                        <option *ngFor="let at of AuthorDDL" value="{{at.Author}}">{{at.Author}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group MarginRL0">

                                <div class="col-md-5">
                                    <input type="text" placeholder="Remark" class="form-control" [(ngModel)]="RFQDoc.RemarkDoc" #RemarkDoc="ngModel" name="RemarkDoc">
                                </div>

                                <div class="col-md-1">
                                    <!--<input type="button" class="btn btn-sm btn-primary" value="Add" />-->
                                    <button type="submit" [disabled]="false" class="btn btn-success">Add</button>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </form>

                    </div>


                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Link</label>
                    </div>
                    <div class="col-md-9">
                        <div class="">
                            <table class='table table-striped table-bordered table-responsive'>
                                <thead>
                                    <tr>

                                        <th>URL</th>
                                        <th>UserId</th>
                                        <th>Password</th>
                                        <th>Remark</th>

                                        <th nowrap="nowrap" class="text-center">
                                            delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf='RFQLinkEntityList'>
                                    <tr *ngFor="let RFQ of RFQLinkEntityList">
                                        <td>{{RFQ.URL}}</td>
                                        <td>{{RFQ.UserId}}</td>
                                        <td>{{RFQ.Password}}</td>
                                        <td>{{RFQ.RemarkLink}}</td>
                                        <td style="text-align:center">

                                            <div style="text-align:center">
                                                <button title="Delete" class="btn btn-vis" (click)="deleteRFQLink(RFQ.UserId)"><span class="glyphicon glyphicon-trash"></span></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf='RFQLinkList && RFQLinkList.length == 0'>
                                    <tr>
                                        <td colspan="5" align="center">No Record found</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form #Link="ngForm" (ngSubmit)="onLinkSubmit(Link.value)">
                            <div class="form-group MarginRL0">
                                <div class="col-md-4" style="padding-right:5px;">
                                    <input type="text" placeholder="URL" class="form-control" [(ngModel)]="RFQLink.URL" #URL="ngModel" name="URL">
                                </div>
                                <div class="col-md-4" style="padding-right : 5px;">
                                    <input type="text" placeholder="UserId" class="form-control" [(ngModel)]="RFQLink.UserId" #UserId="ngModel" name="UserId">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Password" class="form-control" [(ngModel)]="RFQLink.Password" #Password="ngModel" name="Password">
                                </div>
                            </div>

                            <div class="form-group MarginRL0">

                                <div class="col-md-5">
                                    <input type="text" placeholder="RemarkLink" class="form-control" [(ngModel)]="RFQLink.RemarkLink" #RemarkLink="ngModel" name="RemarkLink">
                                </div>

                                <div class="col-md-1">
                                    <!--<input type="button" class="btn btn-sm btn-primary" value="Add" />-->
                                    <button type="submit" [disabled]="false" class="btn btn-success">Add</button>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="Popup-row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <form #AddRFQ="ngForm" (ngSubmit)="onAddRFQSubmit(AddRFQ.value)">
                    <div class="form-group">
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-1" style="width:30px;">
                                <input type="checkbox" class="checkbox" [(ngModel)]="addRFQResponse.IsEstimateReady" name="IsEstimateReady" />
                            </div>
                            <div class="col-md-11" style="padding-top:3px;">
                                <label>This response does contain any estimates</label>
                            </div>
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            Hours
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" [(ngModel)]="addRFQResponse.Hours" name="Hours" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            Timeline
                        </div>
                        <div class="col-md-3 pr5">
                            <input type="text" class="form-control" [(ngModel)] ="addRFQResponse.Timeline" name="Timeline" />
                        </div>
                       
                        <div class="col-md-3" >
                            <select class="dropdown form-control"  [(ngModel)]="addRFQResponse.Timeline_Unit" name="Timeline_Unit">
                                <option value="Days">Days</option>
                                <option value="Week">Week</option>
                                <option value="Month">Month</option>
                                <option value="Year">Year</option>
                            </select>
                        </div>
                        <div class="col-md-3 pr5">
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            Lead Time	
                        </div>
                        <div class="col-md-3 pr5">
                            <input type="text" class="form-control" [(ngModel)]="addRFQResponse.Leadtime" name="Leadtime" />
                        </div>
                       
                        <div class="col-md-3">
                            <select class="dropdown form-control" [(ngModel)]="addRFQResponse.Leadtime_Unit" name="Leadtime_Unit">
                                <option value="Days">Days</option>
                                <option value="Week">Week</option>
                                <option value="Month">Month</option>
                                <option value="Year">Year</option>
                            </select>
                        </div>
                        <div class="col-md-3 pr5">

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Technology</label>
                        </div>
                        <div class="col-md-9">
                            <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="addRFQResponse.TechnologyIdList" #TechnologyIdList="ngModel" name="TechnologyIdList"></ss-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Description</label>
                        </div>
                        <div class="col-md-9">
                            <!--<textarea class="form-control" [(ngModel)]="addRFQResponse.Description" name="Description" />-->
                            <textarea class="form-control" [(ngModel)]="addRFQResponse.Description" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            Current Action for the RFQ 
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [(ngModel)]="addRFQResponse.EmployeeName" name="EmployeeName" />
                            <input type="hidden" class="form-control" [(ngModel)]="addRFQResponse.hdnEmployeeId" name="hdnEmployeeId" />
                        </div>
                        <div class="col-md-1" style="padding-left:15px;">
                            Date 
                        </div>
                        <div class="col-md-4">
                            <input type="date" class="form-control" [(ngModel)]="addRFQResponse.CurruntDate" name="CurruntDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <div class="col-md-1" style="width:30px;">
                                <input type="checkbox" class="checkbox" [(ngModel)]="addRFQResponse.IsChangeToAction" name="IsChangeToAction" />
                                </div>
                                <div class="col-md-11" style="padding-top:3px;">
                                    <label>No Change To Action</label>
                                </div>
                            </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            Action taken by :
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="addRFQResponse.EmpId"  name="EmpId">
                                <option *ngFor="let bt of actionTakenByList" value="{{bt.EmpId}}">{{bt.Employee_Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left:15px;">
                            Action taken By Date
                        </div>
                        <div class="col-md-3">
                            <input type="date" class="form-control" [(ngModel)]="addRFQResponse.ActionByDate" name="ActionByDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-success" value="Save">Save</button>
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </div>

   
</body>
</html>
