<div>
    <div>
        <!--<search-list [title]='searchTitle' (change)="ManualPointEntryFilterCriteriaChange($event)"></search-list>-->
        <div style="vertical-align:top;float:left;"><h3><b>Manual points entry</b></h3></div>
        <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
        <!--<ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->
        <!--<ss-multiselect-dropdown [options]="EmployeeTag" [(ngModel)]="ManualPointEntry.EmpName" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->
        <table class='table table-striped table-bordered table-responsive'>
            <thead>
                <tr>
                    <!--<th style="display:none">Company Id</th>-->
                    <th class="pointer" (click)="ManualPointEntrySort('EmpName')">
                        <label *ngIf="!ShowHideSearch">
                            Employee Name
                            <i class="fa" [ngClass]="{'fa-sort': column != 'EmpName', 'fa-sort-asc': (column == 'EmpName' && isDesc), 'fa-sort-desc': (column == 'EmpName' && !isDesc) }" aria-hidden="true"> </i>
                        </label>
                        <input type="text" class="form-control" placeholder="Search by Name" id="searchEmpName" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">
                    </th>
                    <th class="pointer" (click)="ManualPointEntrySort('Criteria')">
                        <label *ngIf="!ShowHideSearch">
                            Criteria
                            <i class="fa" [ngClass]="{'fa-sort': column != 'Criteria', 'fa-sort-asc': (column == 'Criteria' && isDesc), 'fa-sort-desc': (column == 'Criteria' && !isDesc) }" aria-hidden="true"> </i>
                        </label>
                        <input type="text" class="form-control" placeholder="Search Criteria" id="searchCriteria" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">
                    </th>
                    <th class="pointer" (click)="ManualPointEntrySort('Points')">
                        Points
                            <i class="fa" [ngClass]="{'fa-sort': column != 'Points', 'fa-sort-asc': (column == 'Points' && isDesc), 'fa-sort-desc': (column == 'Points' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="ManualPointEntrySort('Month')">
                        Month
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Month', 'fa-sort-asc': (column == 'Month' && isDesc), 'fa-sort-desc': (column == 'Month' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="ManualPointEntrySort('Remarks')">
                        <label *ngIf="!ShowHideSearch">
                            Remarks
                            <i class="fa" [ngClass]="{'fa-sort': column != 'Remarks', 'fa-sort-asc': (column == 'Remarks' && isDesc), 'fa-sort-desc': (column == 'Remarks' && !isDesc) }" aria-hidden="true"> </i>
                        </label>
                        <input type="text" class="form-control" placeholder="Search by Remarks" id="searchRemarks" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">
                    </th>

                    <th style="display:none">Created On</th>
                    <th style="display:none">Created By</th>
                    <th style="display:none">Updated On</th>
                    <th style="display:none">Updated By</th>
                    <th style="display:none">Is Active</th>
                    <th style="display:none">Company Id</th>
                    <th nowrap="nowrap" class="text-center">
                        <button class="btn btn-vis" (click)="addManualPointEntry()"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-vis" (click)="ShowHideSearchControls()"><span class="glyphicon glyphicon-search" title="Search"></span></button>
                        <button class="btn btn-vis" (click)="ngOnInit()"><span class="glyphicon glyphicon-refresh" title="Refresh"></span></button>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf='ManualPointEntrys && ManualPointEntrys.length'>
                <tr *ngFor="let ManualPointEntry of pagedItems | ManualPointEntryFilter : ManualPointEntryFilter | orderBy: {property: column, direction: direction}">
                    <td style="display:none">{{ManualPointEntry.Id}}</td>
                    <td>{{ManualPointEntry.EmpName}}</td>
                    <td>{{ManualPointEntry.Criteria}}</td>
                    <td>{{ManualPointEntry.Points}}</td>
                    <td>{{ManualPointEntry.Month|date: 'dd/MM/yyyy'}}</td>
                    <td>{{ManualPointEntry.Remarks}}</td>
                    <td style="display:none">{{ManualPointEntry.CreatedOn}}</td>
                    <td style="display:none">{{ManualPointEntry.CreatedBy}}</td>
                    <td style="display:none">{{ManualPointEntry.UpdatedBy}}</td>
                    <td style="display:none">{{ManualPointEntry.UpdatedOn}}</td>
                    <td style="display:none">{{ManualPointEntry.IsActive}}</td>

                    <td style="text-align:center">
                        <div *ngIf="ManualPointEntry.IsActive == 1" style="text-align:center">
                            <button title="Edit" class="btn btn-vis" (click)="editManualPointEntry(ManualPointEntry.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button title="Delete" class="btn btn-vis" (click)="deleteManualPointEntry(ManualPointEntry.Id, ManualPointEntry.IsActive)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                        <div *ngIf="ManualPointEntry.IsActive == 0" style="text-align:center">
                            <button title="Undo Delete" class="btn btn-vis" (click)="deleteManualPointEntry(ManualPointEntry.Id, ManualPointEntry.IsActive)"><span class="glyphicon glyphicon-repeat"></span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf='ManualPointEntrys && ManualPointEntrys.length'>
            <div class="col-md-12 text-left">Records : {{pager.pagerinformtion}}</div>
            <div class="col-md-12 text-center">
                <div class="col-md-8 text-left">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="JumpOnPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="JumpOnPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="JumpOnPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="JumpOnPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="JumpOnPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-2">

                    <select class="form-control" (change)="ChangeRecordsPerPage($event.target.value)" style="width:100%">
                        <option value="=-1" disabled>Recordds per Page</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="0">All</option>
                    </select>

                </div>
                <div class="col-md-2">
                    <select class="form-control" (change)="JumpOnPage($event.target.value)" style="width:100%">
                        <option value="=-1" disabled>Go to Page</option>
                        <option *ngFor="let intPageStartIndex of pager.pages" [value]="intPageStartIndex">{{intPageStartIndex}}</option>
                    </select>

                </div>

            </div>
        </div>
        <div *ngIf='ManualPointEntrys && ManualPointEntrys.length==0' class="alert alert-info" role="alert">No record found!</div>
    </div>
    <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{msg}}
    </div>
</div>

<modal #modal>
    <!--<form novalidate (ngSubmit)="onSubmit(ManualPointEntryFrm)" [formGroup]="ManualPointEntryFrm">-->
        <form #ManualPT="ngForm" (ngSubmit)="onSubmit(ManualPT.value)">
            <modal-header [show-close]="true">
                <h4 class="modal-title">
                    {{modalTitle}}
                </h4>
            </modal-header>

            <modal-body>
                <div class="row Popup-row">
                    <div class="col-md-12">
                        <div class="form-horizontal" role="form">
                            <div class="col-md-12">
                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">Employee Name* :</div>
                                    <div class="col-md-9 col-lg-9 col-lg-9 col-xs-12">
                                        <ss-multiselect-dropdown [options]="IMultiSelectOption" [(ngModel)]="ManualPointEntry.EmpName" #EmpName="ngModel" name="EmpName"    (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
                                        <!--<input type="text" class="form-control" placeholder="Name" [(ngModel)]="ManualPointEntry.EmpName" #EmpName="ngModel" name="EmpName">-->
                                    </div>
                                </div>
                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">Criteria Name* :</div>

                                    <div class="col-md-9 col-lg-9 col-xs-12">
                                        <!--<input type="text" class="form-control" placeholder="Criteria Name" [(ngModel)]="ManualPointEntry.Criteria">-->
                                        <select class="form-control" placeholder="" [(ngModel)]="ManualPointEntry.Criteria" #Criteria="ngModel" name="Criteria" (change)="ChangeCriteria($event.target.value)">
                                            <option *ngFor="let ctr of ListCriteria" value="{{ctr.Id}}">{{ctr.Criteria}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">Category* :</div>

                                    <div class="col-md-9 col-lg-9 col-xs-12">
                                        <!--<input type="text" class="form-control" placeholder="" [(ngModel)]="ManualPointEntry.Category">-->
                                        <select class="form-control" [(ngModel)]="ManualPointEntry.CategoryId" #Category="ngModel" name="CategoryId">
                                            <option *ngFor="let ctr of ListCategory" value="{{ctr.CategoryId}}">{{ctr.Category}}</option>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">Type* :</div>

                                    <div class="col-md-9 col-lg-9 col-xs-12">
                                        <input type="text" class="form-control" placeholder="Type" [(ngModel)]="ManualPointEntry.Type" #Type="ngModel" name="Type">

                                    </div>
                                </div>
                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">Points* :</div>
                                    <div class="col-md-9 col-lg-9 col-xs-12">
                                        <input type="text" class="form-control" placeholder="Points" [(ngModel)]="ManualPointEntry.Points" #Points="ngModel" name="Points">
                                    </div>
                                </div>
                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">For The Date* :</div>
                                    <div class="col-md-9 col-lg-9 col-xs-12">
                                        <input type="date" class="form-control" placeholder="" [(ngModel)]="ManualPointEntry.ForDate" #ForDate="ngModel" name="ForDate">
                                    </div>
                                </div>

                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-12">Remarks* :</div>
                                    <div class="col-md-9 col-lg-9 col-xs-12">
                                        <textarea type="text" class="form-control" placeholder="Remarks" [(ngModel)]="ManualPointEntry.Remarks" #Remarks="ngModel" name="Remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>

            </modal-body>
            <modal-footer>
                <div class="row">
                    <div class="col-md-11">
                        <a class="btn btn-danger" (click)="modal.dismiss()">Cancel</a>
                        <button type="submit" [disabled]="ManualPT.invalid" class="btn btn-success">{{modalBtnTitle}}</button>
                    </div>
                </div>
            </modal-footer>
        </form>
</modal>
<script>
    $(document).ready(function () {
        debugger;
        alert("test");
        $("ss-multiselect-dropdown").addClass("myClass yourClass");
    })
    
   
</script>

