
    <div>
        <div style="vertical-align:top;float:left;"><h3><b>Policy</b></h3></div>
        <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>

        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="table-scrollable">
                <!--<search-list [title]='searchTitle' (change)="PolicyFilterCriteriaChange($event)"></search-list>-->


                <table class='table table-striped table-bordered table-responsive'>
                    <thead>
                        <tr>
                            <th style="display:none">Company Id</th>
                            <th class="pointer text-left" (click)="PolicySort('Policy_Name')">
                                <label *ngIf="!ShowHideSearch">
                                    Policy Name
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Policy_Name', 'fa-sort-asc': (column == 'Policy_Name' && isDesc), 'fa-sort-desc': (column == 'Policy_Name' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <input type="text" class="form-control" placeholder="Search by Policy Name" id="searchPolicy_Name" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">

                            </th>
                            <th class="pointer text-left" style="display:none">

                                Description

                            </th>
                            <th class="pointer text-left" style="display:none">Is New Policy</th>
                            <th class="pointer text-left">Created On</th>
                            <th style="display:none">Created By</th>
                            <th class="pointer text-left">Updated On</th>
                            <th style="display:none">Updated By</th>
                            <th style="display:none">Is Active</th>

                            <th nowrap="nowrap" class="text-center">
                                <button class="btn btn-vis" (click)="addPolicy()"><span class="glyphicon glyphicon-plus-sign" title="Add New"></span></button>
                                <button class="btn btn-vis" (click)="ShowHideSearchControls()"><span class="glyphicon glyphicon-search" title="Search"></span></button>
                                <button class="btn btn-vis" (click)="ngOnInit()"><span class="glyphicon glyphicon-refresh" title="Refresh"></span></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf='Policys && Policys.length'>
                        <tr *ngFor="let Policy of pagedItems | PolicyFilter : PolicyFilter | orderBy: {property: column, direction: direction}">
                            <td style="display:none">{{Policy.CompanyId}}</td>
                            <td>{{Policy.Policy_Name}}<img src="../../../images/NewIndicator.gif" alt="New Policy" *ngIf="Policy.IsNewPolicy" /></td>
                            <td style="display:none">{{Policy.Description}}</td>
                            <td style="display:none">{{Policy.IsNewPolicy}}</td>
                            <td>{{Policy.CreatedOn}}</td>
                            <td style="display:none">{{Policy.CreatedBy}}</td>
                            <td>{{Policy.UpdatedOn}}</td>
                            <td style="display:none">{{Policy.UpdatedBy}}</td>
                            <td style="display:none">{{Policy.IsActive}}</td>
                            <td style="text-align:center">
                                <div *ngIf="Policy.IsActive == 1" style="text-align:center">
                                    <button title="Edit" class="btn btn-vis" (click)="editPolicy(Policy.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button title="Delete" class="btn btn-vis" (click)="deletePolicy(Policy.Id, Policy.IsActive)"><span class="glyphicon glyphicon-trash"></span></button>
                                    <button title="View" class="btn btn-vis" (click)="ViewPolicy(Policy.Id)"><span class="glyphicon glyphicon-flag"></span></button>
                                </div>
                                <div *ngIf="Policy.IsActive == 0" style="text-align:center">
                                    <button title="Undo Delete" class="btn btn-vis" (click)="deletePolicy(Policy.Id, Policy.IsActive)"><span class="glyphicon glyphicon-repeat"></span></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf='Policys && Policys.length'>
                    <div class="col-md-12 text-left">Records : {{pager.pagerinformtion}}</div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-8 text-left">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="JumpOnPage(1)">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="JumpOnPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="JumpOnPage(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="JumpOnPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="JumpOnPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-2">

                            <select class="form-control" (change)="ChangeRecordsPerPage($event.target.value)" style="width:100%">
                                <option value="=-1" disabled>Recordds per Page</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="0">All</option>
                            </select>

                        </div>
                        <div class="col-md-2">
                            <select class="form-control" (change)="JumpOnPage($event.target.value)" style="width:100%">
                                <option value="=-1" disabled>Go to Page</option>
                                <option *ngFor="let intPageStartIndex of pager.pages" [value]="intPageStartIndex">{{intPageStartIndex}}</option>
                            </select>

                        </div>

                    </div>
                </div>
                <div *ngIf='Policys && Policys.length==0' class="alert alert-info" role="alert">No record found!</div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>

        </div>
    </div>
 
                <modal #modal>
                    <form novalidate (ngSubmit)="onSubmit(PolicyFrm)" [formGroup]="PolicyFrm">

                        <modal-header [show-close]="true">
                            <h4 class="modal-title">
                                <b>{{modalTitle}}</b>
                            </h4>
                        </modal-header>

                        <modal-body>

                            <div style="display:none">
                                <span>Company*</span>
                                <span>{{CompanyId}}</span>
                            </div>

                            <div class="row Popup-row">
                                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                               
                                    <div class="form-horizontal" role="form">

                                        <div class="form-group Popup-group">
                                            <div class="col-md-3 col-lg-3 col-xs-4 col-sm-3">Policy Name* :</div>
                                            <div class="col-md-4 col-lg-4 col-xs-6 col-sm-4">
                                                <input type="text" class="form-control" placeholder="Policy Name" formControlName="Policy_Name">
                                            </div>
                                           
                                                <div class="col-md-3 col-lg-3 col-xs-10 pl-93">Is New Policy* :</div>
                                                <div class="col-md-2 col-lg-2 col-xs-2">
                                                    <input type="checkbox" formControlName="IsNewPolicy">
                                                
                                            </div>
                                        </div>

                                        <div class="form-group Popup-group">
                                            <div class="col-md-3 col-lg-3 col-xs-5 col-sm-3">Description* :</div>
                                            <div class="col-md-9 col-lg-9 col-lg-9 col-xs-12 col-sm-9">
                                                <!--<input type="text" class="form-control" placeholder="Policy Description" formControlName="Description">-->
                                                <ckeditor formControlName="Description"
                                                          [config]="{uiColor: '#D3D3D3'}"
                                                          [readonly]="false"
                                                          debounce="500">
                                                </ckeditor>
                                            </div>
                                        </div>





                                        <div style="display:none">
                                            <span>Created On</span>
                                            <input type="text" class="form-control" placeholder="Created On" formControlName="CreatedOn">
                                        </div>
                                        <div style="display:none">
                                            <span>Created By</span>
                                            <input type="text" class="form-control" placeholder="Created By" formControlName="CreatedBy">
                                        </div>
                                        <div style="display:none">
                                            <span>Updated On</span>
                                            <input type="text" class="form-control" placeholder="Updated On" formControlName="UpdatedOn">
                                        </div>
                                        <div style="display:none">
                                            <span>Updated By</span>
                                            <input type="text" class="form-control" placeholder="Updated By" formControlName="UpdatedBy">
                                        </div>
                                        <div style="display:none">
                                            <span>Is Active</span>
                                            <input type="checkbox" class="form-control" formControlName="UpdatedBy">
                                        </div>
                                        <div style="display:none">
                                            <span>EntityMessage</span>
                                            <input type="text" class="form-control" formControlName="EntityMessage">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </modal-body>
                        <modal-footer>
                            <div>
                                <a class="btn btn-danger" (click)="modal.dismiss()">Cancel</a>
                                <button type="submit" [disabled]="PolicyFrm.invalid" class="btn btn-success">{{modalBtnTitle}}</button>
                            </div>
                        </modal-footer>
                    </form>
                </modal>
          
    <!--<div class="modal fade" id="demo_modal_dark">
        <div class="modal-dialog modal-lg">
            <div class="modal-content c-square">-->
                <modal #modal1>
                    <form novalidate (ngSubmit)="onSubmit(PolicyFrm)" [formGroup]="PolicyFrm">
                        <modal-header [show-close]="true">
                            <h4 class="modal-title">
                                <b>{{modalTitle}}</b>
                            </h4>
                        </modal-header>

                        <modal-body>
                            <div class="row Popup-row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-horizontal" role="form">
                                        <table *ngFor="let item of ViewIPolicy">
                                            <tr>{{item.Policy_Name}}</tr>
                                            <tr>&nbsp;</tr>
                                            <tr>&nbsp;</tr>
                                            <tr>&nbsp;</tr>
                                            <tr>{{item.Description}}</tr>
                                        </table>

                                    </div>
                                </div>
                            </div>


                        </modal-body>
                        <modal-footer>
                            <div>
                                <a class="btn btn-success" (click)="modal1.dismiss()">Back</a>

                            </div>
                        </modal-footer>
                    </form>
                </modal>

            <!--</div>
        </div>
    </div>-->
