<div>
    <div>
        <!--<search-list [title]='searchTitle' (change)="TicketListClosedFilterCriteriaChange($event)"></search-list>-->
        <div style="vertical-align:top;float:left;"><h3><b>Ticket List Closed</b></h3></div>




        <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
        <div class="row Popup-row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-horizontal">

                    <div class="form-group">

                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <table>
                                <tr>
                                    <td>Closed</td>
                                    <td>&nbsp;</td>
                                    <td>:</td>
                                    <td>&nbsp;</td>
                                    <td> {{ ClosedTicketCount }} </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>Terminated</td>
                                    <td>&nbsp;</td>
                                    <td>:</td>
                                    <td>&nbsp;</td>
                                    <td> {{TerminatedTicketCount }} </td>
                                    <td>&nbsp;</td>



                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="table-scrollable">

                <table class='table table-striped table-bordered table-responsive'>
                    <thead>
                        <tr>
                            <th style="display:none">Company Id</th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('Id')">
                                <label *ngIf="!ShowHideSearch">
                                    Ticket NO
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Id', 'fa-sort-asc': (column == 'Id' && isDesc), 'fa-sort-desc': (column == 'Id' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <!--<input type="text" class="form-control" placeholder="Search by TicketListClosed Name" id="searchSubject" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">-->

                            </th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('Subject')">
                                <label *ngIf="!ShowHideSearch">
                                    Subject
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Subject', 'fa-sort-asc': (column == 'Subject' && isDesc), 'fa-sort-desc': (column == 'Subject' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <input type="text" class="form-control" placeholder="Search by TicketListClosed Name" id="searchSubject" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">

                            </th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('AddressToGroup')">
                                <label *ngIf="!ShowHideSearch">
                                    AddressToGroup
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'AddressToGroup', 'fa-sort-asc': (column == 'AddressToGroup' && isDesc), 'fa-sort-desc': (column == 'AddressToGroup' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <input type="text" class="form-control" placeholder="Search by TicketListClosed Name" id="searchAddressToGroup" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">

                            </th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('AssignTo')">
                                <label *ngIf="!ShowHideSearch">
                                    AssignTo
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'AssignTo', 'fa-sort-asc': (column == 'AssignTo' && isDesc), 'fa-sort-desc': (column == 'AssignTo' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <input type="text" class="form-control" placeholder="Search by Assign To" id="searchAssignTo" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">

                            </th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('CreatedByName')">
                                <label *ngIf="!ShowHideSearch">
                                    Created ByName
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'CreatedByName', 'fa-sort-asc': (column == 'CreatedByName' && isDesc), 'fa-sort-desc': (column == 'CreatedByName' && !isDesc) }" aria-hidden="true"> </i>
                                </label>



                            </th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('UpdatedByName')">
                                <label *ngIf="!ShowHideSearch">
                                    Updated ByName
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'AssignTo', 'fa-sort-asc': (column == 'UpdatedByName' && isDesc), 'fa-sort-desc': (column == 'UpdatedByName' && !isDesc) }" aria-hidden="true"> </i>
                                </label>



                            </th>
                            <th class="pointer text-left" (click)="TicketListClosedSort('Priority')">
                                <label *ngIf="!ShowHideSearch">
                                    Priority
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Priority', 'fa-sort-asc': (column == 'Priority' && isDesc), 'fa-sort-desc': (column == 'Priority' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <input type="text" class="form-control" placeholder="Search by Priority" id="searchPriority" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">

                            </th>


                            <th class="pointer text-left" (click)="TicketListClosedSort('Priority')">
                                <label *ngIf="!ShowHideSearch">
                                    Status
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Status', 'fa-sort-asc': (column == 'Status' && isDesc), 'fa-sort-desc': (column == 'Priority' && !isDesc) }" aria-hidden="true"> </i>
                                </label>

                                <input type="text" class="form-control" placeholder="Search by Status" id="searchStatus" *ngIf="ShowHideSearch" (keydown)="ngOnInit()">

                            </th>



                            <th class="pointer text-left">Created On</th>
                            <th style="display:none">Created By</th>
                            <th class="pointer text-left">Updated On</th>
                            <th style="display:none">Updated By</th>
                            <th style="display:none">Is Active</th>

                            <th nowrap="nowrap" class="text-center">
                                <!--<button class="btn btn-vis" (click)="addTicketListClosed()"><span class="glyphicon glyphicon-plus-sign" title="Add New"></span></button>-->
                                <button class="btn btn-vis" (click)="ShowHideSearchControls()"><span class="glyphicon glyphicon-search" title="Search"></span></button>
                                <button class="btn btn-vis" (click)="ngOnInit()"><span class="glyphicon glyphicon-refresh" title="Refresh"></span></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf='TicketListCloseds && TicketListCloseds.length'>
                        <tr *ngFor="let TicketListClosed of pagedItems | TicketListClosedFilter : TicketListClosedFilter | orderBy: {property: column, direction: direction}">
                            <td style="display:none">{{TicketListClosed.CompanyId}}</td>
                            <td>{{TicketListClosed.Id}}</td>
                            <td>{{TicketListClosed.Subject}}</td>
                            <td>{{TicketListClosed.AddressToGroup}}</td>
                            <td>{{TicketListClosed.AssignTo}}</td>
                            <td>{{TicketListClosed.CreatedByName}}</td>
                            <td>{{TicketListClosed.UpdatedByName}}</td>
                            <td>{{TicketListClosed.Priority}}</td>
                            <td>{{TicketListClosed.Status}}</td>
                            <td>{{TicketListClosed.CreatedOn | date :'dd/MM/yyyy'}}</td>
                            <td style="display:none">{{TicketListClosed.CreatedBy}}</td>
                            <td>{{TicketListClosed.UpdatedOn | date :'dd/MM/yyyy'}}</td>
                            <td style="display:none">{{TicketListClosed.UpdatedBy}}</td>
                            <td style="display:none">{{TicketListClosed.IsActive}}</td>
                            <td style="text-align:center">
                                <div *ngIf="TicketListClosed.IsActive == 1" style="text-align:center">
                                    <button title="Edit" class="btn btn-vis" (click)="editTicketListClosed(TicketListClosed.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button title="Delete" class="btn btn-vis" (click)="deleteTicketListClosed(TicketListClosed.Id, TicketListClosed.IsActive)"><span class="glyphicon glyphicon-trash"></span></button>

                                </div>
                                <div *ngIf="TicketListClosed.IsActive == 0" style="text-align:center">
                                    <button title="Undo Delete" class="btn btn-vis" (click)="deleteTicketListClosed(TicketListClosed.Id, TicketListClosed.IsActive)"><span class="glyphicon glyphicon-repeat"></span></button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf='TicketListCloseds && TicketListCloseds.length'>
                    <div class="col-md-12 text-left">Records : {{pager.pagerinformtion}}</div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-8 text-left">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="JumpOnPage(1)">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="JumpOnPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="JumpOnPage(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="JumpOnPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="JumpOnPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-2">

                            <select class="form-control" (change)="ChangeRecordsPerPage($event.target.value)" style="width:100%">
                                <option value="=-1" disabled>Recordds per Page</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="0">All</option>
                            </select>

                        </div>
                        <div class="col-md-2">
                            <select class="form-control" (change)="JumpOnPage($event.target.value)" style="width:100%">
                                <option value="=-1" disabled>Go to Page</option>
                                <option *ngFor="let intPageStartIndex of pager.pages" [value]="intPageStartIndex">{{intPageStartIndex}}</option>
                            </select>

                        </div>

                    </div>
                </div>
                <div *ngIf='TicketListCloseds && TicketListCloseds.length==0' class="alert alert-info" role="alert">No record found!</div>
            </div>
           </div>
        
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>

        </div>
    </div>
        <modal #modal>
            <form novalidate (ngSubmit)="onSubmit(TicketListClosedFrm)" [formGroup]="TicketListClosedFrm">
                <modal-header [show-close]="true">
                    <h4 class="modal-title">
                        <b>{{modalTitle}}</b>
                    </h4>
                </modal-header>

                <modal-body>


                    <div class="row Popup-row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-horizontal">

                                <div class="form-group Popup-group">
                                    <div class="col-md-3 col-lg-3 col-xs-4"> <label class="LabelCenter">Created By</label></div>
                                    <div class="col-md-7 col-lg-7 col-lg-7 col-xs-7">

                                        <input type="text" class="form-control" placeholder="Created By" name="CreatedBy" formControlName="CreatedByName">
                                        <!--<textarea class="form-control" placeholder="Dashboard Service URL Local" [(ngModel)]="commonconfiguration.URLLocal" #URLLocal="ngModel" name="URLLocal" required></textarea>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 pl-30 col-sm-6 col-xs-12">

                                        <div class="col-md-5 col-lg-5 col-xs-3 "> <label class="LabelCenter">Priority</label> </div>
                                        <div class="col-md-7 col-lg-7 col-lg-7 col-xs-7 pl-40 mar-10">

                                            <select class="form-control input-small" formControlName="Priority">
                                                <option value="Low">Low </option>
                                                <option value="Medium">Medium</option>
                                                <option value="High">High</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-md-3 col-lg-3 col-xs-3"> <label class="LabelCenter">Status</label> </div>
                                        <div class="col-md-7 col-lg-7 col-lg-7 col-xs-7">

                                            <select class="form-control input-small" formControlName="Status">
                                                <option value="Open">Open </option>
                                                <option value="Closed">Closed</option>
                                                <option value="Resolved">Resolved</option>
                                                <option value="Suspended">Suspended</option>
                                                <option value="Terminated">Terminated</option>
                                                <option value="UnderReview">Under Review</option>
                                            </select>

                                            <!--<input type="text" class="form-control" placeholder="Status"   name="Status">-->

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button title="View" class="btn btn-vis" (click)="ViewTicketListClosed(TicketListClosed.Id)"><span class="btn btn-info">View History</span></button>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <fieldset>

                                <legend>Post Replay</legend>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-3 col-lg-3 col-xs-3"> <label class="LabelCenter"></label> </div>
                                        <div class="col-md-7 col-lg-7 col-lg-7 col-xs-7">
                                            <textarea class="form-control max-widthFileset margin_top10" placeholder="Remarks" name="Remarks" formControlName="Remarks"></textarea>

                                        </div>
                                    </div>

                                </div>



                            </fieldset>



                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <fieldset>

                                <legend>Original Message</legend>


                                <table *ngFor="let item of GetDetail">

                                    <tr>

                                    <tr> <td class="LabelCenter">AddressToGroup</td><td>&nbsp;</td><td>&nbsp;</td><td>:</td><td>{{item.AddressToGroup}}</td></tr>
                                    <tr> <td class="LabelCenter">Subject</td><td>&nbsp;</td><td>&nbsp;</td> <td>:</td><td>{{item.Subject}}</td>
                                    <tr><td class="LabelCenter">Message</td><td>&nbsp;</td><td>&nbsp;</td><td>:</td><td>{{item.Message}}</td>
                                    <tr>
                                        <td class="LabelCenter">Attachement</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>:</td>
                                        <td>{{item.FileName}}</td>
                                    </tr>
                                </table>

                            </fieldset>
                            <div style="display:none">
                                <span>Created On</span>
                                <input type="text" class="form-control" placeholder="Created On" formControlName="CreatedOn">
                            </div>
                            <div style="display:none">
                                <span>Created By</span>
                                <input type="text" class="form-control" placeholder="Created By" formControlName="CreatedBy">
                            </div>
                            <div style="display:none">
                                <span>Updated On</span>
                                <input type="text" class="form-control" placeholder="Updated On" formControlName="UpdatedOn">
                            </div>
                            <div style="display:none">
                                <span>Updated By</span>
                                <input type="text" class="form-control" placeholder="Updated By" formControlName="UpdatedBy">
                            </div>
                            <div style="display:none">
                                <span>Is Active</span>
                                <input type="checkbox" class="form-control" formControlName="UpdatedBy">
                            </div>
                            <div style="display:none">
                                <span>EntityMessage</span>
                                <input type="text" class="form-control" formControlName="EntityMessage">
                            </div>


                        </div>
                    </div>


                </modal-body>
                <modal-footer>
                    <div>
                        <a class="btn btn-danger" (click)="modal.dismiss()">Cancel</a>

                        <button type="submit" [disabled]="TicketListClosedFrm.invalid" class="btn btn-success">{{modalBtnTitle}}</button>
                    </div>
                </modal-footer>
            </form>
        </modal>
        <modal #modal1>
            <form novalidate (ngSubmit)="onSubmit(TicketListClosedFrm)" [formGroup]="TicketListClosedFrm">
                <modal-header [show-close]="true">
                    <h4 class="modal-title">
                        <b>{{modalTitle}}</b>
                    </h4>
                </modal-header>

                <modal-body>
                    <div class="row Popup-row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-horizontal">

                                <div class="form-group Popup-group">

                                    <div class="col-md-12 col-lg-12 col-xs-12">
                                        <table *ngFor="let item of ViewHistory" style="width:100% !important;">

                                            <tr>
                                                <td style="width: 100%; background-color: #EDF4FF; vertical-align: middle; border-bottom: 1px Solid #A8C5F3;
                                                          border-top: 1px Solid #A8C5F3; height: 38px">
                                                    <table style="width: 100%; padding: 3px 10px 3px 10px;">
                                                        <tr>
                                                            <td style="width: 70%" align="left" class="tddisplay">
                                                                <label style="font-family: Verdana; font-size: 20px; font-weight: normal;">
                                                                    {{item.RecordCreatedBy}}

                                                                </label>
                                                            </td>
                                                            <td style="width:30%" align="right">
                                                                <label style="font-family: Verdana; font-size: 20px; font-weight: normal;">
                                                                    {{item.RoleType}}
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; border-bottom: 1px solid #D7D0ED;" align="left">
                                                    <img alt="Message" src="images/message.png" />
                                                    <label style="font-family: Verdana; font-size: 12px; font-weight: normal">
                                                        Posted On :  {{item.RecordCreatedOn | date:'MM/dd/yy h:mm:ss a'}}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr class="trdisplay">
                                                <td>  <label style="font-family: Verdana; font-size: 13px"><b>Priority</b></label> </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>:</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>{{item.Priority}}</td>
                                            </tr>
                                            <tr class="trdisplay">
                                                <td class="tddisplay">  <label style="font-family: Verdana; font-size: 13px"><b>Status</b></label> </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>:</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>{{item.Status}}</td>
                                            </tr>
                                            <tr class="trdisplay">
                                                <td>  <label style="font-family: Verdana; font-size: 13px"><b>Assign To</b></label> </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>:</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>{{item.AssignTo}}</td>
                                            </tr>
                                            <tr class="trdisplay">
                                                <td>  <label style="font-family: Verdana; font-size: 13px"><b>Remarks</b></label> </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>:</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>{{item.Remarks}}</td>
                                            </tr>



                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </modal-body>



                <modal-footer>
                    <div>
                        <a class="btn btn-danger" (click)="modal1.dismiss()">Back</a>


                    </div>
                </modal-footer>
            </form>
        </modal>
