<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="col-md-1">
                    <div class="form-group Popup-group">
                        <div class="col-md-2 col-lg-12 col-xs-12">
                            <input type="image" class="btnexportexcel" (click)="GoToAddGrievance()" src="/Upload/Icon images/Add.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group Popup-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <input type="radio" id="rdbstatusPending" name="Status" checked="checked" value="Pending" (change)="GetPendingGrievance($event)" />Pending
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group Popup-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <input type="radio" id="rdbstatusCompleted" name="Status" value="Completed" (change)="GetCompletedGrievance($event)" />Completed
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <!--<div style="vertical-align:top;float:left;"><h3><b>Salary Grievance</b></h3></div>-->
            <div class="alert alert-info" role="alert" *ngIf="indLoading==true"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <!--<div *ngIf='' class="alert alert-info" role="alert">No record found!</div>-->
        </div>
        <div class="portlet-body repotwidgetwidth" id="GrievanceData">
            <div class="tabbable tabbable-custom">
                <div style="height:auto;" data-always-visible="1" data-rail-visible1="1">
                    <div class="portlet box marbott0">
                        <div class="portlet-body padding0">
                            <div class="table">
                                <div class="full-wd Scrollbarcss" style="height:auto">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="reportwidgetheader">
                                            <tr>
                                                <th class="headrecenter">
                                                    Created Date
                                                </th>
                                                <th class="headrecenter">
                                                    Deduction Date
                                                </th>
                                                <th class="headrecenter">
                                                    Grievance Remark
                                                </th>
                                                <th class="headrecenter">
                                                    PE Status
                                                </th>
                                                <th class="headrecenter">
                                                    PE Remark
                                                </th>
                                                <th class="headrecenter">
                                                    PH Status
                                                </th>
                                                <th class="headrecenter">
                                                    PH Remark
                                                </th>
                                                <th class="headrecenter">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr *ngFor="let Grievance of pagedItems" class="rowsbackcol">
                                            <td class="headrecenter">
                                                {{Grievance.CreatedOn}}
                                            </td>
                                            <td class="headrecenter">
                                                {{Grievance.Deduction_Date}}
                                            </td>
                                            <td class="columcenter">
                                                {{Grievance.Grievance_Remarks}}
                                            </td>
                                            <td class="headrecenter">
                                                {{Grievance.GrievanceType_PE}}
                                            </td>
                                            <td class="columcenter">
                                                {{Grievance.PE_Remarks}}
                                            </td>
                                            <td class="columcenter">
                                                {{Grievance.GrievanceType_PH}}
                                            </td>
                                            <td class="columcenter">
                                                {{Grievance.PH_Remarks}}
                                            </td>
                                            <td class="columcenter">
                                                <button (click)="EditGrievance(Grievance.Id)" title="Edit" class="btn btn-vis"><span class="glyphicon glyphicon-pencil"></span></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center" *ngIf='Grievance && Grievance.length > 10'>
                <div class="col-md-8 text-left">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="JumpOnPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="JumpOnPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="JumpOnPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="JumpOnPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="JumpOnPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <select class="form-control" (change)="ChangeRecordsPerPage($event.target.value)" style="width:100%">
                        <option value="=-1" disabled>Records per Page</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="0">All</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" (change)="JumpOnPage($event.target.value)" style="width:100%">
                        <option value="=-1" disabled>Go to Page</option>
                        <option *ngFor="let intPageStartIndex of pager.pages" [value]="intPageStartIndex">{{intPageStartIndex}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf='Grievance && Grievance.length' class="reportpagingalign">
                <div>{{pager.pagerinformtion}}</div>
            </div>
        </div>
    </div>
</div>

<modal #modalAddGrievance id="AddNewGrievance">
    <form #SalaryGrievanceForm="ngForm" (ngSubmit)="onSubmit(SalaryGrievanceForm.value)">
        <modal-header [show-close]="true">
            <h4 class="modal-title" style="color:white">
                <u class="col-md-offset-5">{{modalTitle}}</u>
            </h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <label class="LabelCenter">Employee Name </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <input type="text" class="form-control" id="txtempname" name="Employee_Name" [(ngModel)]="objGrievance.Employee_Name" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-2 col-lg-12 col-xs-12">
                                    <label class="LabelCenter">Deduction Date </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="ddDeductDate">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <select class="form-control" name="Deduction_Date" id="ddlDeductDate" (change)="GetAttendanceDetailOfEmployee($event)">
                                        <option value="0">Select</option>
                                        <option *ngFor="let DeductDate of GrievanceDate" value="{{DeductDate.Id}}">{{DeductDate.Deduction_Date}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="txtDeductDate">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <input type="text" id="txtDeductionDate" class="form-control" name="Deduction_Date" [(ngModel)]="objGrievance.Deduction_Date" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <label class="LabelCenter">PC AMT</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <input type="text" id="txtPCAmt" class="form-control" name="PaycutAmount" [(ngModel)]="objGrievance.PaycutAmount" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <label class="LabelCenter">PC Amt Remarks </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <input type="text" id="txtpcremark" class="form-control" name="Pc_remark" [(ngModel)]="PayCutAmtRemark" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <label class="LabelCenter">Remarks By</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <input type="text" id="txtremark_by" class="form-control" name="remark_by" [(ngModel)]="RemarkBy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="AttendanceData">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="portlet-body repotwidgetwidth">
                            <div class="tabbable tabbable-custom">
                                <table class="table table-striped table-bordered table-hover" style="padding-left:10em;padding-right:10em">
                                    <thead class="reportwidgetheader">
                                        <tr>
                                            <th class="headrecenter">
                                                Status
                                            </th>
                                            <th class="headrecenter">
                                                HR In Time
                                            </th>
                                            <th class="headrecenter">
                                                Actual In Time
                                            </th>
                                            <th class="headrecenter">
                                                Actual Out Time
                                            </th>
                                            <th class="headrecenter">
                                                Other Out
                                            </th>
                                            <th class="headrecenter">
                                                Total Other Out
                                            </th>
                                            <th class="headrecenter">
                                                Total Working Hour
                                            </th>
                                            <th class="headrecenter">
                                                Working Hour
                                            </th>
                                            <th class="headrecenter">
                                                Worksheet Hour
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Attendance of Attendance" class="rowsbackcol">
                                            <td class="columcenter">
                                                {{Attendance.Status}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.HR_In_Time}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.PunchIntime}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.PunchOuttime}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.OtherWork}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.TotalOtherWork}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.TotalOfficeTime}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.WorkingHour}}
                                            </td>
                                            <td class="columcenter">
                                                {{Attendance.WorksheetHour}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="DailyEntryData">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="portlet-body repotwidgetwidth">
                            <div class="tabbable tabbable-custom">
                                <table class="table table-striped table-bordered table-hover" style="padding-left:10em;padding-right:10em">
                                    <thead class="reportwidgetheader">
                                        <tr>
                                            <th class="headrecenter">
                                                Employee Name
                                            </th>
                                            <th class="headrecenter">
                                                Date
                                            </th>
                                            <th class="headrecenter">
                                                Entry Type
                                            </th>
                                            <th class="headrecenter">
                                                Entry Time
                                            </th>
                                            <th class="headrecenter">
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let DailyEntry of DailyEntry" class="rowsbackcol">
                                            <td class="columcenter">
                                                {{DailyEntry.Employee_Name}}
                                            </td>
                                            <td class="columcenter">
                                                {{DailyEntry.Date}}
                                            </td>
                                            <td class="columcenter">
                                                {{DailyEntry.Entry_Type}}
                                            </td>
                                            <td class="columcenter">
                                                {{DailyEntry.Entry_Time}}
                                            </td>
                                            <td class="columcenter">
                                                {{DailyEntry.Remarks}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hiddenid" class="form-control" name="Id" [(ngModel)]="objGrievance.Id" />
            <input type="hidden" id="hiddenempid" class="form-control" name="Employee_Id" [(ngModel)]="objGrievance.Employee_Id" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <label class="LabelCenter">Grievance Remark</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    :
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <input type="text" id="txtGrievanceremark" class="form-control" name="Grievance_Remarks" [(ngModel)]="objGrievance.Grievance_Remarks" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group Popup-group">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <!--<input type="submit" class="btn btn-info Width120" name="Submit" value="{{modalButton}}" (click)="AddGrievance()" />-->
                                    <input type="submit" id="btnsubmit" class="btn btn-info Width120" name="Submit" value="{{modalButton}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal-body>
    </form>
</modal>
